/* GLOBAL */
/* comment en est on arrivé là? */
/* No lo se */
/* Kill it with fire Hanz */
body {
    font-size: 20px;
    background: linear-gradient(15deg, grey, white, black);
    margin: 0;
    padding: 0;
    /* cursor: url("assets/th.png"),auto; */
}

main {
    max-width: 100%;
    /* background: linear-gradient(15deg, grey, white, black); */
}

h1 {
    color:gold;
    text-shadow: 4px 4px 10px gold; 
    font-size:20;
    background: rgb(0, 0, 0);
    text-align: center;
    padding: 20px;
    margin: 0;
    letter-spacing: 10px;
}

h2{
    text-align: center;
}

p {
    color:black; 
    font-size:100%;
}

figcaption {
    text-align: center;
    font-weight: 600;
}


/* HEADER */
.nav {
    padding : 0;
    margin : 0
}

.navbar {
    width: 80%;
    margin: auto;
}

.navbar ul li {
    display: inline-flex;
    list-style: none;
    vertical-align: middle;
    border-radius: 20%;
}

.navbar ul li img{
    width: 100px;
    display: inline-flex;
    list-style: none;
    margin-right: 30px;
}

.navbar ul li a {
    text-decoration: none;
    color: black;
    font-weight: 400;
    display: inline-flex;
    background: #fff;
    border-radius: 25%;
    padding: 20px 50px;
    margin-right: 20px;
}

section {
    position: relative;
    z-index: 10;
}

header {
    position: relative;
    z-index: 10;
}

@keyframes animated {
    0% {
        background-position: 200%;
    }
    50% {
        background-position: -100%;
    }
    100% {
        background-position: 200%;
    }
}

.music {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}

.navbar ul li a:hover{
    color: red;
}

/* .troll {
    background: url("https://thumbs.gfycat.com/MistyImpishBlueshark-max-14mb.gif");
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */

section article h2{
    text-align: center;
    color: black;
}
/* Houses Container */
.container{
    display: flex;
    justify-content: space-around;
    background: linear-gradient(90deg, red 0vw,yellow 38vw, blue 62vw, green 80vw);
    z-index: 12;
}

.container img {
    width: 13vw;
    margin: auto;
}

.characters_presentation {
    border: black solid 2px;
}

.characters_presentation h2{
    color:white;
    background : black;
    padding: 10px;
    margin:0;
}

aside {
    width: 40%;
    padding-left: .5rem;
    margin-left: .5rem;
    float: right;
    box-shadow: inset 5px 0 5px -5px #29627e;
    font-style: italic;
    color: #29627e;
}

aside p {
    margin: .5rem;
}

.img_characters{
    display: inline-flex;
}

/* Houses img animations */
.imgBx img:hover {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.back-card {
    display: none;
}

/* GOLDEN SNITCH ANIMATIONS */
/* Hands */
.hand {
    position: fixed;
    right: 0;
    top: 90px;
    width: 150px;
    z-index: 10;
    
}

/* Golden snitch */
.vif{
    position: fixed;
    right: 0;
    top: 140px;
    width: 100px;
    margin-right: 50px;
    z-index: 10; 
}

/* Animations function */
@keyframes animated_golden{
    0%{
        margin-right : 1200px;
    }
    25%{
        margin-top: 200px;
    }
    50% {
        margin-right: 800px;
    }
    75%{
        margin-bottom: 200px;
    }
    100%{
        margin-right:50px;
    }
}


/* FOOTER */
.footer {
    display: inline-flex;
}

.footer_message {
    text-align: center;
}

.text {
    background: url("https://i.gifer.com/EcMT.gif");
    background-size: cover;
}

.text p {
    background: #fff;
}


/* Responsive */


@media screen and (max-width:650px) {
    .container{
        justify-content: space-around;
        background: linear-gradient(90deg, red 0vw,yellow 38vw, blue 62vw, green 80vw);
        z-index: 12;
    }
    
    .container img {s
        width: 13vw;
        margin: auto;
    }